@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
#contenedor-nav {
    display: flex;
    align-items: center;
    background-image:linear-gradient( cadetblue,rgb(55, 97, 99));
    margin-top: 20px;
    font-size: 25px;
    gap: 30px;
    height: 40px;
    border: 3px solid gray;
    font-family:'Times New Roman', Times, serif;
}
#contenedor-nav:hover {
    height: 50px;
    transition: 0.5s;
    box-shadow: 3px 2px 77px 25px rgba(0,0,0,0.41);
}
#contenedor-nav a {
    text-decoration: none;
    background-image: linear-gradient(white, transparent);
    border: 2px solid black;
    border-radius: 10px;
}
#contenedor-nav a::after {
    content: "  | ";
}
#contenedor-nav a:hover {
    color: dimgray;
    letter-spacing: 5px;
    transition: 0.5s;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
    transform: scale(0.9);
}
#contenedor-nav a:active {
    color: blueviolet;
}
li {
    list-style: none;
    font-size: 2.2rem;
}
#lista-scroll-input {
    background: lightblue;
    border-radius: 8px;
    height: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
.img1 {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin: 30px 0 0 30px;
}
.img1:hover {
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
    transition: 1s;
}
.secimg {
    margin: 0 auto;
    width: 80%;
    background-color: #008cff;
    text-align: center;
    min-height: 200px;
    min-width: 400px;
    max-width: 700px;
}
#challenge {
    background-image: linear-gradient(45deg,purple,black);
    grid-template-columns: 1fr;
    height: 500px;
    display: grid;
    align-items: center;
    justify-items: center;
}
#cont {
    width: 400px;
    font-size: 2rem;
    background-image: linear-gradient(transparent,white,gray);
    border: 3px solid black ;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
}
#cont img {
    border-radius: 40px;
}
#absolute {
    height: 30px;
    width: 150px;
    background-color: aquamarine;
    font-size: 2rem;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff, 0 0 50px #ffffff,
    0 0 100px #ffffff;
    position: absolute;
    bottom: 185px;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 200px 200px 200px 200px 100px;
}
.Head {
    grid-column: 1/6;
    background-color: rgb(235, 211, 248);
}
.contenedor-ul {
    display: grid;
    align-items: center;
}
.ull {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin: 12px;
}
.ull a {
    text-decoration: none;
}
.ee {
    order: 3;
}
.ii {
    order: 2;
}
.oo {
    order: 1;
}
.Main {
    grid-area: 2/2/6/6;
    background-color: rgb(173, 73, 225);
}
.costado {
    grid-row: 2/6;
    background-color: rgb(122, 28, 172);
    font-size: 2rem;
}
.div-1 {
    height: 180px;
    width: 80%;
    background-color: azure;
    border-radius: 10px;
    margin: 20px auto;
}
.Foot {
    grid-column: 1/6;
    background-color: rgb(46, 7, 63);
}
.h22 {
    position: absolute;
    font-size: 2.5rem;
    font-family: "Edu VIC WA NT Beginner", cursive;
    text-shadow: 5px 0px 10px black;
}
.responsive {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}
.box {
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}
.box-1 {
    background-color: #008cff;
}
.box-2 {
    background-color: aquamarine;
}
.box-3 {
    background-color: chocolate;
}
.box-4 {
background-color: chartreuse;
}
.box-5 {
background-color: deeppink;
}


